<h1>Calculator</h1>
<div>
<span>1#: </span>
<input #firstNumber (input)="setNumber1(firstNumber.value)" type="number">
<span>2#: </span>
<input #secondNumber (input)="setNumber2(secondNumber.value)" type="number">
</div>

<div>
<button (click)="calc()">Go!</button>
</div>

<div *ngIf="hasResults">
<p>{{inputNumber1}} + {{inputNumber2}} = {{sum}}</p>
<p>{{inputNumber1}} - {{inputNumber2}} = {{difference}}</p>
<p>{{inputNumber1}} * {{inputNumber2}} = {{product}}</p>

</div>
<!--<h1>Hello World</h1>-->